body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    border-radius: 8px;
    background: #3882f6;
    color: white;
    border: none;
    padding: 8px 24px;
}

.header {
    background-color: #12171f;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20pt;
    color: white;
}

.first {
    height: 400px;
    background-color: #1f2937;
    padding: 12px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0 16px;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 12pt;
}

.first .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
}

.first .left .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.first .left .info {
    font-size: 18px;
    color: #e5e7eb;
}

.first .right {
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.first .right .image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 200px;
    border-radius: 8px;
    border: #f9faf8 solid 3px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    gap: 30px;
    text-align: center;
}

.second .title {
    font-size: 36px;
    padding-top: 40px;
    font-weight: bolder;
    color: #1f2937;
}

.second .panels {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.one, 
.two,
.three,
.four {
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.one .image,
.two .image,
.three .image,
.four .image {
    border: #3882f6 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}